			</div>
			
			<div id="footer-wrapper">
				<div id="footer">
					<span class="grey-light">
						#{msg:app.maker} &#169; 2010-2013
					</span>
					<span class="right">
						<a href="about">#{msg:menu.bottom.about}</a>
						<a href="contact">#{msg:menu.bottom.contact}</a>
					</span>
				</div>
			</div>
		</div>

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.0.min.js"></script>
    	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    	<script src="#{URL_STATIC}web/js/lib/jquery/jquery.autosize.js"></script>
    	<script src="#{URL_STATIC}web/js/lib/jquery/jquery.lazyload.js"></script>
    	<script src="#{URL_STATIC}web/js/lib/jquery/jquery.scrollstop.js"></script>
		<script src="#{URL_STATIC}web/js/jquery.usage.js"></script>
		<script src="#{URL_STATIC}web/js/ajaxcomment.js"></script>
		<script src="#{URL_STATIC}web/js/loadmore.js"></script>
        <script src="#{URL_STATIC}web/js/fileinputstyler.js"></script>
	</body>
</html>
